<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test_bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="coverage" lowUpperBound="35" highLowerBound="70"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">riseart-api/src</directory>
            <exclude>
                <directory suffix="Interface.php">riseart-api/src</directory>
                <directory>vendor</directory>
                <directory>examples</directory>
                <file>vendor/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>